* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #fff;
    background-color: #000;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: normal;
    margin: 30px;
}

.download {
    font-size: 16px;
    text-align: center;
    margin: 30px 0;
}

.tagline {
    font-size: 42px;
    font-weight: 300;
    margin: 30px 0;
}

.description {
    font-size: 21px;
    color: #808080;
}

.main-image {
    padding: 20px 0;
}

.announcement {
    font-size: 42px;
    font-weight: 300;
    margin: 30px 0;
}

.footer{
    text-align: right;
    color: #808080;
    margin: 30px 0; 
}

a {
    color: #7fffd4;
}


