* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ffece6;
}

table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #d7d9f2;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .7rem;
    margin-bottom: 2em;
    background-color: #ffffff;

}

.narrow-tables {
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; /* Along the main axis */ 
    align-content: flex-start; /* Along the cross axis */
    align-items: flex-start; /* Items are displayed in their original heights and widths, and they're aligned on a per-row basis. */
}

.narrow-tables div {
    width: 100%;
}

.narrow-table {
    width: 100%;
}

caption {
    padding: 8px;
    caption-side: top;
    font-size: 1rem;
    font-weight: bold;
}

tr.col-header {
    font-size: 0.8rem;
}

tr.table-summary a {
    font-weight: bold;
}

.narrow-table {
    border: 2px solid transparent;
}

tr.html-css {
    background-color: #fffd71;
}

tr.html-css td {
    border: 2px solid #fffd71;
}

tr.ui-ux {
    background-color: #bbffe5;
}

tr.ui-ux td {
    border: 2px solid #bbffe5;;
}

tr.design {
    background-color: #9fd9ff;
}

tr.design td {
    border: 2px solid #9fd9ff;
}

td,
th {
    border: 1px solid #d7d9f2;
    padding: 10px 10px;
}

td {
    text-align: left;
}

td.table-summary {
    text-align: center;
    font-size: 0.8rem;
    background-color: #d7d9f2;;
}

a {
    text-decoration: none;
    color: #0000ff;
}

.narrow-table a {
    color: inherit;
}

a:hover {
    color: #ff0000;
}

