html {
    background-color: rgb(255, 236, 230);
}

a {
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    color: #ff0000;
}

.col-header {
    background-color: #d7d9f2;
    font-size: 0.8rem;
}

.tag {
    background-color: #ffffff;
}

caption {
    padding: 8px;
    caption-side: top;
    font-size: 1rem;
    font-weight: bold;
}

table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #d7d9f2;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .7rem;
    margin-bottom: 2em;
    background-color: #ffffff;
}

.narrow-table {
    width: 30%;
}

.narrow-table a {
    color: #000000;
}

.narrow-table a:hover {
    color: #ff0000;
}

td,
th {
    border: 1px solid #d7d9f2;
    padding: 10px 10px;
}

td {
    text-align: left;
}

.table-summary {
    text-align: center;
    font-size: 0.8rem;
    background-color: #d7d9f2;;
}

.table-summary a {
    font-weight: bold;
}